doctype html
html(lang='en')
  head
    title Bootstrap Example
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js')
  body
    .container
        h2 Card Image
        p Image at the top (card-img-top):
        .row
            each item in items
                .card.col-sm-4(style='width:400px; padding:10px')
                    img.card-img-top(src=item.mainImage alt='Card image' style='width:100%')
                    .card-body
                        h4.card-title= item.title
                        p.card-text= item.sContents
                        a.btn.btn-primary(href='#') See Detail
        br
        form(action='/' method='post')
            input(type="hidden", name="page", value="0")
            p
                input(type='submit', value="Home")
        form(action='/' method='post')
            input(type="hidden", name="page", value=page+1)
            p
                input(type='submit', value="Next")
        
        - var n = 0;
        while n<10
            a(href="/"+n)= n++ + " "
    

